body {
    font-family: 'Raleway', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
  }
  
  * {
    box-sizing: border-box
  }
  
  /*NAVBAR*/
  .navbar {
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
  }
  
  .list {
    font-weight: 500;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 12px;
  }

  .list:hover {
      color: rgb(6, 252, 6);
  }
  
  .anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
  }

  #logo {
    height: 70px;
    width: 150px;
  }

  .navBtn {
      background-color: white;
      border: none;
  }

  .contact-img {
    height: 40px;
    width: 125px;
    margin-top: 12px;
  }
  
  /*JUMBOTRON*/
  .jumbotron {
    height: 100vh; /*height to 100% of view height*/
    background-image: url("./images/cover_pic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0; /*no bottom margin*/
    display: flex;
    flex-direction: column;
  }
  
  .jumbotron-text {
    /*TAGLINE UNDER NAME*/
    font-weight: 400;
    font-size: 1em;
    color: white;
    text-align: center;
    margin-top: 75px;
    padding-bottom: 10px;
    background-color: rgba(6, 252, 6, 0.514);
    
  }
  
  .jumbotron-text h1 {
    /*YOUR NAME*/
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 0;
  }
  
  /*SOCIAL LINKS*/
  .ul-social {
    text-align: center;
    padding-left: 0;
  }
  
  .li-social-links {
    display: inline-block;
    list-style: none;
  }
  
  .social {
    font-size: 2em;
    color: rgb(6, 252, 6);
    padding: 20px;
  }

  .social:hover {
      color: blue;
  }
  
  /*ARROW LINK*/
  #down-arrow {
    /*position: absolute;
    width: 100%;*/
    margin-top: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #down-arrow a {
    color: white;
  }
  
  /*CONTENT*/
  .container {
    /*sets up flexbox*/
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .white {
    background: white;
  }
  
  .side-content {
    flex: 0 0 16.6%;
  }
  
  .main-content {
    flex: 0 0 66.6%;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  
  .side-content-sm {
    flex: 0 0 10%;
  }
  
  .main-content-lg {
    flex: 0 0 80%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  }
  
  h2 {
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(6, 252, 6);
    text-transform: uppercase;
    text-align: center;
  }

  .content-body {
    line-height: 1.5;
    color: rgba(0,0,0,.75);
  }
  
  /*STEPS*/
  .dark-blue {
    background: rgba(39,62,84,0.82);
    text-align: center; 
  }

  .ul-steps {
    text-align: center;
    padding-left: 0;
  }
  
  .li-steps {
    display: inline-block;
    margin: 10px;
    font-weight: 700;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    text-align: center;
  }

  .steps-text {
    color: white;
    font-size: 27px;
    margin-top: 10%;
    font-weight: 500;
  }

  .steps-header {
      color: white;
      font-size: 3em;
      margin-bottom: 8%;
  }

  .step {
      width: 275px;
      height: 250px;
      border-radius: 50%;
  }

    /*SERVICES*/
  .lime {
    text-align: center; 
  }
  
  .li-service {
    display: inline-block;
    /*margin: 10px;*/
    font-weight: 700;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    text-align: center;
    padding: 15px;
  }

  .service-text {
    color: black;
    font-size: 15px;
    font-weight: 500;
    width: 250px;
  }

  .service-header {
      color: white;
      font-size: 3em;
      margin-bottom: 8%;
  }

  .icon {
      width: 100px;
      height: 100px;
  }

  .quote {
      font-size: 2.5em;
      background-color: rgb(6, 252, 6);
      border-radius: 15px;
      padding: 1%;
      color: white;
  }

  .quote:hover {
      background-color: blue;
  }

  /*QUOTE*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 5px 5px;
    background-color: rgba(39,62,84,0.82);
    color: white;
  }

  .modal-title {
      color: white;
  }
  
  .modal-body {
    padding: 2px 16px;
}

  .mHeader {
      color: gray;
  }

  .mInput {
      padding: 5px;
      margin: 1%;
      border-radius: 15px;
      width: 33%;
  }

  .strAddress {
      width: 50%;
  }

  .mSubmit {
      background-color: rgb(6, 252, 6);
      width: 28%;
      border-radius: 15px;
      color: white;
      padding: 1%;
      font-size: 25px;
      font-weight: 700;
      margin: 1%;
  }

  .mSubmit:hover {
    background-color: blue;
}
  
  /*CONTACT*/
  .blue {
    text-align: center;
  }

  .contact-us-photo {
    box-shadow: 15px 10px 10px rgb(170, 170, 170);
    margin-bottom: 1%;
    border: 2px solid rgb(170, 170, 170);
  }

  .content-header {
      margin-left: 15%;
  }
  
  .contact {
    max-width: 500px;
    margin: 0 auto;
  }

  .contact input, .contact textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px gray solid;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .contact textarea {
    height: 150px;
    resize: none;
    color: black;
  }
  
  .contact button {
    display: block;
    width: 100%;
    background: rgba(39,62,84,0.82);
    border-radius: 15px;
    padding: 20px;
    border: none;
    font-weight: 400;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    font-size: 35px;
  }

  .contact-button {
      color: white;
  }

  .contact-button:hover {
      background-color: rgb(6, 252, 6);
}

  .contact-header {
      color: rgba(39,62,84,0.82);
      margin-bottom: 3%;
      font-weight: 600;
  }
  
  .white-text {
    color: rgba(39,62,84,0.82);
  }

  /*FOOTER*/

  .footer {
      background-color: white;
  }  
  
.main-content-footer {
    flex: 0 0 66.6%;
  }

.footer-contact {
    text-align: center;
    padding-left: 0;
  }
  
  .cFooter {
    display: inline-block;
    padding: 5px;
    list-style: none;
    cursor: default;
    font-size: 15px;
    font-weight: 500;
    padding-top: 1%;
  }

  .copyWrite {
      margin-bottom: 1%;
  }

  .footerImg {
      width: 40px;
  }

  .ftext {
      padding-bottom: 2%;
      
  }



